.r-container {
  overflow: hidden;
  position: relative;
}

.r-head {
  margin-bottom: 2rem;
}

.swiper {
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  overflow: hidden; 
}

.swiper-horizontal {
  overflow: visible !important;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  max-width: 300px; 
}

.r-buttons {
  position: absolute;
  gap: 1rem;
  top: -4rem;
  right: 4rem;
}

.r-buttons button {
  font-size: 1.2rem;
  padding: 0.2rem 0.8rem;
  color: blue;
  border: none;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}

.r-buttons > :nth-child(1),
.r-buttons > :nth-child(2) {
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.075);
  background-color: #eeeeff;
}

@media (max-width: 640px) {
  .r-head {
    align-items: center;
  }
  .r-buttons {
    position: initial;
    margin-top: 1rem;
    justify-content: center;
    display: flex;
  }
}
